
<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> All Prescription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="p-2">
    <div class="border border-gray-300 rounded-md p-2">
      <div class="flex justify-between">
        <p class="text-md font-bold text-black">Manasvi Medicals</p>
      </div>
      <div class="flex justify-between">
        <p>Vaibhav Lande</p>
<img src="" alt="">
      </div>
    
    </div>


    <ion-fab routerLink="/addprescription" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      
    </ion-fab>
 </div>
</ion-content>
