<ion-content >
  <img src="assets/wave.png" alt="">
  <form #form_login="ngForm">
    <div >
      <div align="center" style="margin-top: 20%;">
        <img src="assets/logonew_new.png" alt="" width="150" height="150" />
      </div>

      <div class="p-4 ">
        <ion-item class="border border-gray-300 rounded-md" lines="none">
          <ion-input type="email" name="email" value="email" ngModel placeholder="Enter Mobile Number"></ion-input>
        </ion-item>

        <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
          <ion-input type="text" name="pass" value="pass" ngModel placeholder="Enter PIN"></ion-input>
        </ion-item>

        <div class="p-1 flex justify-end mt-1" routerLink="/forgotpass">
        <p class="text-sm text-sm text-blue-700 font-bold">Forgot PIN?</p>
        </div>
        
        <div routerLink="/dashboard">
          <button  type="submit" class="btn-grad mt-4">
            <span style="float: left; font-weight: bold; font-size: 0.9rem">Login</span>
            <span style="float: right; font-size: 0.9rem">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </span>
          </button>
        </div>

        <div class="p-1 flex justify-center mt-1" routerLink="/registration">
        <p class="text-sm text-sm text-gray-500">Don't have an account? <span  class="text-sm text-sm text-blue-700 font-bold">Register</span></p>
        </div>
      </div>
    </div>

  </form>
</ion-content>

