<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Book Ambulance </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">
  


    <div>
      <ion-item class="border border-gray-300 rounded-md" lines="none">
        <ion-select justify="space-between" label="Select Hospital" placeholder="Select Hospital">
          <ion-select-option value="vaibhav">Zenith Hospital</ion-select-option>
          <ion-select-option value="bhavana">Dentio Clinic</ion-select-option>
          <ion-select-option value="yash">>Bonde Hospital</ion-select-option>
        </ion-select>
      </ion-item>

     
    </div>



  </div>
</ion-content>
<!-- <app-footer></app-footer> -->
