<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Appointment </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">
    <div class="mt-2 mb-2">
      <ion-row>
        <ion-col size="4">
          <img class="rounded-md shadow-md img1" src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </ion-col>

        <ion-col size="8" class="pl-3">
          <ion-label class="text-black text-md"><b>Dr. Pawan Patil</b></ion-label>
          <p class="text-xs text-blue-800 pl-1">Cardiology&nbsp;<ion-icon class="text-yellow-500 mt-1 text-xs"
              name="star">
            </ion-icon>
            <ion-icon class="text-yellow-500 mt-1 text-xs" name="star"></ion-icon>
            <ion-icon class="text-yellow-500 mt-1 text-xs" name="star"></ion-icon>
            <ion-icon class="text-yellow-500 mt-1 text-xs" name="star-half"></ion-icon>
          </p>
          <p class="text-xs text-gray-500 mt-1 pl-1">
            <ion-icon class="text-blue-600" name="call"></ion-icon>&nbsp; +91 8668543490
          </p>

          <p class="text-xs text-gray-500 mt-1 pl-1">
            <ion-icon class="text-blue-600" name="location"></ion-icon>&nbsp; Sai Hospital Dastur Nagar Amravati
          </p>
        </ion-col>

      </ion-row>
    </div>



    <div>
      <ion-item class="border border-gray-300 rounded-md" lines="none">
        <ion-select justify="space-between" label="Select Patients" placeholder="Select Patients">
          <ion-select-option value="vaibhav">Vaibhav Lande</ion-select-option>
          <ion-select-option value="bhavana">Bhavana Tale</ion-select-option>
          <ion-select-option value="yash">Yash Dhokane</ion-select-option>
        </ion-select>
      </ion-item>

      <p class="bg-blue-100 p-1 text-blue-600 text-xs border border-blue-300 rounded-sm text-center mt-1">+91 8789563232 | Female - 24</p>

    
      <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
        <ion-select justify="space-between" label="Visit Type" placeholder="Visit Type">
          <ion-select-option value="female">First OPD</ion-select-option>
          <ion-select-option value="male">Follow up</ion-select-option>
          <ion-select-option value="other">Emergency </ion-select-option>
        </ion-select>
      </ion-item>

    </div>

    <!-- <div class="grid w-full items-center gap-1.5 pl-1 mt-2">
      <label class="text-md text-black font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Upload Old Report</label>
      <input id="picture" type="file" class="flex h-12 w-full rounded-md border border-input bg-white px-4 py-3 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium">
</div> -->

    <div class="mt-2">
      <ion-label class="text-black font-semibold text-md mt-5 mb-4 pl-2">Schedule</ion-label>
    </div>

    <swiper-container class="mt-2" #swiper (slidechange)="swiperSlideChanged($event)" [loop]="true" [slidesPerView]="6"
      [spaceBetween]="10">
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 tabbg text-center">
            <p class="text-sm text-white mt-3">01</p>
            <p class="text-xs text-white">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">02</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">03</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">04</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">05</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">06</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">07</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">08</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">09</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide >
        <div class="w-full">
          <div class="border border-gray-200 rounded-full w-12 h-20 pt-2 pb-2 text-center">
            <p class="text-sm text-gray-900 mt-3">10</p>
            <p class="text-xs text-blue-800">Feb</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>


    <div class="mt-2">
      <ion-label class="text-black font-semibold text-md mt-5 mb-4 pl-2">Slots</ion-label>
    </div>

    <!-- <ion-label class="text-black text-md mt-4 mb-4 pl-2">Slots</ion-label> -->

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-sm text-gray-600 mt-2">Morning</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-sm text-gray-600 mt-2">Aternoon</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10 tabbg">
              <p class="text-sm text-white mt-2">Evening</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


   <div class="mt-2">
      <ion-label class="text-black font-semibold text-md mt-5 mb-4 pl-2">Avaliable Time</ion-label>
    </div>
    <ion-grid class="mt-1">
      <ion-row>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">10:00 AM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">11:00 AM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">12:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10 ">
              <p class="text-xs text-gray-600 mt-3">01:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">02:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">03:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">04:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">05:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">06:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10 tabbg">
              <p class="text-xs text-white mt-3">07:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">08:00 PM</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="w-full" align="center">
            <div class="border border-gray-200 rounded-full w-30 h-10">
              <p class="text-xs text-gray-600 mt-3">09:00 PM</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

   
    <div >
      <button  type="submit" class="btn-grad mt-4" routerLink="/appointmenthistory">
        <span style="float: left; font-weight: bold; font-size: 0.9rem"> Book Appointment</span>
        <span style="float: right; font-size: 0.9rem">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </span>
      </button>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>