<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Apply For Job</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form_login="ngForm">
    <div>

      <div class="p-4 ">
        <ion-item class="border border-gray-300 rounded-md" lines="none">
          <ion-input type="text" name="name" value="name" ngModel placeholder="Enter Candidate Name"></ion-input>
        </ion-item>

        <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
          <ion-input type="number" name="mobile" value="mobile" ngModel placeholder="Enter Mobile Number"></ion-input>
        </ion-item>

        <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
          <ion-input type="email" name="email" value="email" ngModel placeholder="Enter Email"></ion-input>
        </ion-item>


        <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
          <ion-input type="text" name="address" value="address" ngModel placeholder="Enter Address"></ion-input>
        </ion-item>


        <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
          <ion-select justify="space-between" label="Select Job Type" placeholder="Select Job Type">
            <ion-select-option value="full">Full Time</ion-select-option>
            <ion-select-option value="part">Part Time</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="grid w-full items-center gap-1.5 pl-1 mt-2">
          <label
            class="text-md text-black font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Upload
            Resume</label>
          <input id="picture" type="file"
            class="flex h-12 w-full rounded-md border border-input bg-white px-4 py-3 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium">
        </div>

        <div>
          <button type="submit" class="btn-grad mt-4" routerLink="/appliedjobs">
            <span style="float: left; font-weight: bold; font-size: 0.9rem">Apply</span>
            <span style="float: right; font-size: 0.9rem">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </span>
          </button>
        </div>


      </div>
    </div>

  </form>
</ion-content>