<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Add Patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-3">
    <div class="border border-gray-300 rounded-md p-3 mt-2">
      <div class="flex justify-between items-center border-b border-dashed border-gray-300 mb-2"> 
        <p class="text-black font-semibold text-md">Bhawana Tale</p>
    
        <div class="flex items-center">
          <span class="text-xs font-semibold text-gray-500 ml-1">Female | Age: 24</span>
        </div>
       
      </div>

      <div class="flex justify-between items-center mt-2"> 
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" fill="rgba(70,146,221,1)"><path d="M2.24283 6.85435L11.4895 1.3086C11.8062 1.11865 12.2019 1.11872 12.5185 1.30878L21.7573 6.85433C21.9079 6.9447 22 7.10743 22 7.28303V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V7.28315C2 7.10748 2.09218 6.94471 2.24283 6.85435ZM18.3456 8.24383L12.0606 13.6829L5.64722 8.23769L4.35278 9.7623L12.0731 16.3171L19.6544 9.75615L18.3456 8.24383Z"></path></svg>
          <span class="text-xs font-semibold text-gray-500 ml-1">bhawana&#64;gmail.com</span>
        </div>
    
       
        <div class="flex items-center"> 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" fill="rgba(70,146,221,1)"><path d="M21 16.42V19.9561C21 20.4811 20.5941 20.9167 20.0705 20.9537C19.6331 20.9846 19.2763 21 19 21C10.1634 21 3 13.8366 3 5C3 4.72371 3.01545 4.36687 3.04635 3.9295C3.08337 3.40588 3.51894 3 4.04386 3H7.5801C7.83678 3 8.05176 3.19442 8.07753 3.4498C8.10067 3.67907 8.12218 3.86314 8.14207 4.00202C8.34435 5.41472 8.75753 6.75936 9.3487 8.00303C9.44359 8.20265 9.38171 8.44159 9.20185 8.57006L7.04355 10.1118C8.35752 13.1811 10.8189 15.6425 13.8882 16.9565L15.4271 14.8019C15.5572 14.6199 15.799 14.5573 16.001 14.6532C17.2446 15.2439 18.5891 15.6566 20.0016 15.8584C20.1396 15.8782 20.3225 15.8995 20.5502 15.9225C20.8056 15.9483 21 16.1633 21 16.42Z"></path></svg>
          <span class="text-xs font-semibold text-gray-500 ml-1">+91 8767564534</span>
        </div>
      </div>
    </div>


    <div class="border border-gray-300 rounded-md p-3 mt-2">
      <div class="flex justify-between items-center border-b border-dashed border-gray-300 mb-2"> 
        <p class="text-black font-semibold text-md">Vaibhav Lande</p>
    
        <div class="flex items-center">
          <span class="text-xs font-semibold text-gray-500 ml-1">Female | Age: 24</span>
        </div>
       
      </div>

      <div class="flex justify-between items-center mt-2"> 
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" fill="rgba(70,146,221,1)"><path d="M2.24283 6.85435L11.4895 1.3086C11.8062 1.11865 12.2019 1.11872 12.5185 1.30878L21.7573 6.85433C21.9079 6.9447 22 7.10743 22 7.28303V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V7.28315C2 7.10748 2.09218 6.94471 2.24283 6.85435ZM18.3456 8.24383L12.0606 13.6829L5.64722 8.23769L4.35278 9.7623L12.0731 16.3171L19.6544 9.75615L18.3456 8.24383Z"></path></svg>
          <span class="text-xs font-semibold text-gray-500 ml-1">bhawana&#64;gmail.com</span>
        </div>
    
       
        <div class="flex items-center"> 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" fill="rgba(70,146,221,1)"><path d="M21 16.42V19.9561C21 20.4811 20.5941 20.9167 20.0705 20.9537C19.6331 20.9846 19.2763 21 19 21C10.1634 21 3 13.8366 3 5C3 4.72371 3.01545 4.36687 3.04635 3.9295C3.08337 3.40588 3.51894 3 4.04386 3H7.5801C7.83678 3 8.05176 3.19442 8.07753 3.4498C8.10067 3.67907 8.12218 3.86314 8.14207 4.00202C8.34435 5.41472 8.75753 6.75936 9.3487 8.00303C9.44359 8.20265 9.38171 8.44159 9.20185 8.57006L7.04355 10.1118C8.35752 13.1811 10.8189 15.6425 13.8882 16.9565L15.4271 14.8019C15.5572 14.6199 15.799 14.5573 16.001 14.6532C17.2446 15.2439 18.5891 15.6566 20.0016 15.8584C20.1396 15.8782 20.3225 15.8995 20.5502 15.9225C20.8056 15.9483 21 16.1633 21 16.42Z"></path></svg>
          <span class="text-xs font-semibold text-gray-500 ml-1">+91 8767564534</span>
        </div>
      </div>
    </div>
    
    <div>
    </div>
    <!-- <ion-button id="open-modal" expand="block">Open Modal</ion-button> -->
    <ion-modal #modal trigger="open-modal" class="pl-6 pr-6">
      <ng-template>
        <ion-content class="pl-6 pr-6">
         <div align="center" class="border-b border-blue-200 p-2 bg-blue-50">
          <ion-label class="text-center text-sky-500 font-semibold">
            Add Patient
          </ion-label>
         </div>
       
          <form #form_login="ngForm">
            <div>


              <div class="p-4 ">

                <ion-item class="border border-gray-300 rounded-md" lines="none">
                  <ion-select justify="space-between" label="Select City" placeholder="Select City">
                    <ion-select-option value="amt">Amravati</ion-select-option>
                    <ion-select-option value="pune">Pune </ion-select-option>
                    <ion-select-option value="nag">Nagpur</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
                  <ion-input type="text" name="name" value="name" ngModel placeholder="Enter Name"></ion-input>
                </ion-item>

                <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
                  <ion-input type="number" name="mobile" value="mobile" ngModel
                    placeholder="Enter Mobile Number"></ion-input>
                </ion-item>

                <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
                  <ion-input type="email" name="email" value="email" ngModel placeholder="Enter Email"></ion-input>
                </ion-item>


                <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
                  <ion-input type="text" name="age" value="age" ngModel placeholder="Enter Age"></ion-input>
                </ion-item>

                <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
                  <textarea name="" id="" cols="30" rows="4" placeholder="Enter Your Disease" class="mt-1"></textarea>
                </ion-item>
     
                <ion-item class="border border-gray-300 rounded-md mt-3" lines="none">
                  <ion-select justify="space-between" label="Select Gender" placeholder="Select Gender">
                    <ion-select-option value="female">Female</ion-select-option>
                    <ion-select-option value="male">Male</ion-select-option>
                    <ion-select-option value="other">Other</ion-select-option>
                  </ion-select>
                </ion-item>

                <div>
                  <button type="submit" class="btn-grad mt-4" (click)="modal.dismiss()">
                    <span style="float: left; font-weight: bold; font-size: 0.9rem">Add Patient</span>
                    <span style="float: right; font-size: 0.9rem">
                      <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span>
                  </button>
                </div>


              </div>
            </div>

          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="open-modal">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

    </ion-fab>
  </div>
</ion-content>
<app-footer></app-footer>