<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Notifications </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="p-2">
    <div class="p-2 bg-blue-50 border-t border-blue-600 mt-2 p-2">
      <p class="text-black font-semibold text-md">Hi there!</p>
      <p class="text-gray-400 text-sm">We've just posted a new job opportunity for a Security Guard position at Zenith Hospital.</p>
    </div>


    <div class="p-2 bg-blue-50 border-t border-blue-600 mt-2 p-2">
      <p  class="text-black font-semibold text-md">Hey User</p>
      <p  class="text-gray-400 text-sm">we have an exciting career opportunity waiting for you.</p>
    </div>


    <div class="p-2 bg-blue-50 border-t border-blue-600 mt-2 p-2">
      <p  class="text-black font-semibold text-md">Hello!</p>
      <p  class="text-gray-400 text-sm">Your dream job could be just a click away.</p>
    </div>
  </div>
</ion-content>